.dog-logo {
  max-width: 5vw;
  height: auto;
}

.striped {
  background-color: #023e7d;
}

.btn {
  background-color: #1a659e;
}

.btn:hover {
  background-color: #0a85ed;
}

.select-dog {
  color: white;
  font-family: Tahoma;
  font-weight: bolder;
}

.card-body {
  border: dashed 1px #0a85ed;
}
.card-title {
  border-radius: 10px;
  background: #f2f2f2;
  color: #333;
  padding: 10px;
  border-radius: 10px;
}
.card-subtitle {
  border-radius: 10px;

  background: yellow;
  color: #333;
  padding: 10px;
  border-radius: 10px;
}
.card-img {
  max-width: 300px;
}

.Easy {
  color: rgb(51, 138, 33);
  font-weight: bold;
}

.Moderate {
  color: rgb(171, 180, 35);
  font-weight: bold;
}

.Difficult {
  color: rgb(138, 28, 28);
  font-weight: bold;
}
