* {
    box-sizing: border-box;
  }
  
  .flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .row {
    align-items: center;
    
  }
  
  .donateP{
    color: rgb(0, 78, 137);
    font-weight: 900;
    font-family: 'Karla', sans-serif;
    font-size: x-large;
    align-items: center;
  }


  .card .card-image .card-title {
    color: #ffd60a;
    background-color: rgb(69, 57, 10);
  }