* {
  box-sizing: border-box;
}

.flexbox {
  justify-content: center;
  align-items: center;
}

.row {
  align-items: center;
  justify-content: center;
}

.row {
  align-items: center;
  justify-content: center;
}
  
.donatetext{
  color: white;
  font-weight: 400;
  font-family: 'Karla', sans-serif;
  font-size: larger;
  align-items: center;
}

.donatelink {
  color: white;
  font-size: x-large;
}

.card{
  justify-content: center;
  margin: 3em;
}

.card .card-image .card-title {
color: #ffd60a;
background-color: rgb(69, 57, 10);
align-items: center;
}

.card-image {
  max-width: 14em;
  max-height: auto;
  margin: 3em;
}

.happy-doggo {
  max-height: 500px;
}

.image-border {
  border: 10px solid rgba(0,0,0,0.095);
  border-radius: 25px;
}