body,
html {
  height: 100%;
}

.hero {
/* css from v1 */
height: auto;
width: 100%; 
background-size: cover;
object-fit: cover;
height:auto!important;
max-height:400px;
}

.hero-container {
  padding-bottom: 10px;
  background-image: linear-gradient(to right, rgb(0, 78, 137) , rgba(255, 213, 0));
}
